QPushButton {
  max-height: 30px;
  max-width: 80px;
  min-height: 30px;
  min-width: 80px;
}

QLineEdit {
  max-width: 100px;
  min-width: 100px;
}

#class_color_box {
  max-height: 25px;
  max-width: 25px;
  min-height: 25px;
  min-width: 25px;
}
